API_PORT=
API_URL=

CORS_ORIGIN=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ACCESS_TOKEN=
CLOUDFLARE_R2_SECRET_ACCESS_TOKEN=
CLOUDFLARE_R2_PUBLIC_URL=
